#include<windows.h>
#include "Window.h"

APP_ICON ICON icon.ico

IMAGE_EDITOR MENU
BEGIN
POPUP "&File" 

BEGIN
	MENUITEM "&Open File", IDM_OPEN_FILE
	MENUITEM "&Exit", IDM_EXIT_APP
END

POPUP "&Edit"

BEGIN
	MENUITEM "&Edit Image", IDM_EDIT_IMAGE
END

POPUP "&Help"

BEGIN
	MENUITEM "&About", IDM_ABOUT
END

END



TSP_DIALOG DIALOG DISCARDABLE 410, 0, 330, 210
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | WS_VISIBLE | WS_BORDER
CAPTION "Image Editor And Color Picker"

BEGIN

RADIOBUTTON "Image Effects", RD_IMAGE_PROCESSING, 10, 2, 55, 13, WS_TABSTOP| WS_GROUP
RADIOBUTTON "Color Picker", RD_COLOR_PICKER, 70, 2, 55, 13, WS_TABSTOP | WS_GROUP
PUSHBUTTON "ABOUT", TSP_ABOUT_PUSH_BUTTON, 205, 190, 35, 13
PUSHBUTTON "OK", IDOK, 240, 190, 35, 13
PUSHBUTTON "EXIT", IDCANCEL, 275, 190, 35, 13
GROUPBOX "Image Editor", TSP_IMAGE_EDITOR, 10, 25, 300, 70
GROUPBOX "Desaturation", IMAGE_DESATURATION, 21, 35, 80, 55
PUSHBUTTON "APPLY EFFECT", DESATURATION_PUSHBUTTON, 29, 45, 55, 13
PUSHBUTTON "RESET IMAGE", DESATURATION_RESET, 29, 70, 55, 13
GROUPBOX "Sepia", IMAGE_SEPIA, 120, 35, 80, 55
PUSHBUTTON "APPLY EFFECT", SEPIA_PUSHBUTTON, 128, 45, 55, 13
PUSHBUTTON "RESET IMAGE", SEPIA_RESET, 128, 70, 55, 13
GROUPBOX "Color Inversion", IMAGE_COLOR_INVERSION, 220, 35, 80, 55
PUSHBUTTON "APPLY EFFECT", COLOR_INVERSION_PUSHBUTTON, 230, 45, 55, 13
PUSHBUTTON "RESET IMAGE", COLOR_INVERSION_RESET, 230, 70, 55, 13
GROUPBOX "Color Picker", COLOR_PICKER, 10, 100, 300, 80
EDITTEXT  R_TEXT_BOX , 70, 115, 17, 12 , ES_READONLY
EDITTEXT  G_TEXT_BOX , 100, 115, 17, 12 , ES_READONLY
EDITTEXT  B_TEXT_BOX , 130, 115, 17, 12 , ES_READONLY
EDITTEXT, COLOR_PICKER_BOX, 165, 115, 35, 35, ES_READONLY
CHECKBOX  "Export Picked Colors Log", EXPORT_RGB_CHECK 15, 145, 150, 10
CHECKBOX  "Export Picked Colors (Normalised) Log", NORMALISE_RGB_CHECK 15, 160, 150, 10
CTEXT    "Picked Color"    PICKED_COLOR, 15,115,55,15
CTEXT    "R"    RED_VALUE, 66,128,25,15
CTEXT    "G"  GREEN_VALUE, 96,128,25,15
CTEXT    "B"   BLUE_VALUE, 125,128,25,15
END

REGISTER_DIALOG DIALOG DISCARDABLE 50, 0, 300, 70
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | WS_VISIBLE | WS_CHILD
CAPTION "User Registration"
Font 10, "Arial Rounded MT Bold" 

BEGIN
        CTEXT    "USER NAME :"  USER_NAME, 25,15,43,12
	CTEXT	 "FIRST NAME"   F_NAME_STATIC, 80,28,50,12, SS_NOTIFY
	CTEXT	 "MIDDLE NAME"  M_NAME_STATIC, 150,28,50,12, SS_NOTIFY
	CTEXT	 "SURNAME"     L_NAME_STATIC, 220,28,50,12, SS_NOTIFY
	EDITTEXT FIRST_NAME,   75,15,60, 12
	EDITTEXT MIDDLE_NAME,  145,15,60,12
        EDITTEXT LAST_NAME,    215,15,60,12
	
PUSHBUTTON "REGISTER", IDOK, 210, 50, 40, 15
PUSHBUTTON "CANCEL", IDCANCEL, 250, 50, 32, 15
END

ABOUT_DIALOG DIALOG DISCARDABLE 0,0,190,100
STYLE DS_MODALFRAME | DS_CENTER | WS_SYSMENU
CAPTION "ABOUT"
Font 11, "Verdana" 

BEGIN
	LTEXT "PixEDIT" 		             -1,78,7,26,8
	LTEXT "by"                                   -1,87,18,8,8
	LTEXT "(c) Mr.    Tanmay    Suresh    Patil" -1,45,30,135,8
	LTEXT "Email: tanmay.p2@gmail.com"           -1,55,44,110,8
	LTEXT "off"                                  -1,87,57,10,8
 	LTEXT "AstroMediComp"                        -1,67,70,53,8
	
	ICON APP_ICON, -1, 8, 8, 0, 0, SS_ICON 
	PUSHBUTTON "OK", IDOK, 73, 85, 35, 13

END



 